@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');


body{
    display: flex;
    overflow-x: hidden;

}
.navbar .navbar-nav{
    padding-left: 320px;
}

.signup {
    color: white;
    border: white solid 1px;
    border-radius: 50px;
    font-size: 15px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 260px
}

.login {
    color: white;
    border: #ff9800 solid 1px;
    background-color: #ff9800;
    border-radius: 50px;
    font-size: 15px;
    padding: 0.5rem 1.2em;
    margin-left: 10px;
    margin-right: -10px;
}

.signup:hover,
.login:hover {
    color: white;
    border: #ff9800 solid 1px;
    background-color: #ff9800;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    transition: all 0.2s ease 0s;
}

.home{
    overflow-x: hidden;
    padding-top: 150px;
    font-family: 'Montesserat' , sans-serif;
    background-image: url(../assests/home-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: black;
    overflow-y: hidden;
}

.home .container{
    margin-left: 30%;
    margin-bottom: 168px;
    margin-top: 90px;
    padding-bottom: 15%;
}

.home button{
    color: black;
    margin-left: 15%;
    font-weight: bold;
    border-color: black, solid 1px;
}

