@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

.contactform input[type=text],
.contactform input[type=email],
.contactform textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #666;
}

.contact  ul.social li a {
  color: #666;
  background: #eee;
}

.contact  ul.social li a:hover {
  color: #fff;
}

.blog .post-content {
  background-color: #f2f2f2;
}